<mat-card class="titulo"> {{title}}  </mat-card>

<mat-tab-group dynamicHeight style="margin-top:25px !important">
    <mat-tab label="Por formulário"> 
        <div class="conteudo-aba-cadastro-arquivo">  
            <app-formulario></app-formulario> 
        </div>
    </mat-tab>
    <mat-tab label="Por arquivo"> 
        <div class="conteudo-aba-cadastro-formulario">
            <app-arquivo></app-arquivo>          
        </div>
    </mat-tab>
   
    <mat-tab label="Origem PL"> 
        <div class="conteudo-aba-cadastro-formulario">
            <!-- <img src="assets/img/em_construcao.png" alt="aviso"> -->
            <app-origempl></app-origempl>
        </div>
    </mat-tab> 
</mat-tab-group>

  





  






  



