
.conteudo-aba-cadastro-arquivo{
  margin-bottom: 16px;
}

.conteudo-aba-cadastro-formulario{
  margin-bottom: 16px;
}

.titulo{
  background-color: #465eff;
  color: white;
  font-weight: 400;
  font-size: 15pt;
}