.content {
  /*display: flex;*/
  margin: 32px auto 32px;
  padding: 0 16px;
  max-width: 90%;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 100%;
  align-items: center;
  justify-content: end;
  padding: 0.4rem 0 0 1rem;
}
