<div class="consulta-por-codigo-drive">
    <mat-form-field  style="width:120px ; margin-right:25px !important">
      <mat-label>Código Drive</mat-label>
      <input matInput  [(ngModel)]="codigoDrive" >
    </mat-form-field>   

      <button mat-raised-button color="primary" (click)="consultaFundo()" [disabled]="codigoDrive === null || codigoDrive === ''">Buscar</button>

</div>


<div *ngIf="fundo != null"> 

   <h3> {{fundo}} - {{drive}} </h3>
   
   <p style=" margin-bottom:50px; !important;" >Origem do PL: {{origemPl}} </p>
   

    
    <mat-form-field  class='inputDado' style="width: 200px; margin-right:20px; !important;">
        <mat-label>Origem do PL</mat-label>
        <mat-select [(ngModel)]="origemSelecionada">
          <mat-option [value]="origemDrive">Drive</mat-option>
          <mat-option *ngFor="let origem of origemPlList" [value]="origem">
            {{origem}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    <button mat-raised-button color="primary" (click)="salvar()" [disabled]="false">Salvar</button>

</div>

    


    
    
 